In [16]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [24]:
df=pd.read_csv('iplauction2023.csv')

In [25]:
df.head()

,name,player style,nationality,base price (in lacs),final price (in lacs),franchise,status
0,Harshit Rana,Bowler,India,NaN,20.0,KKR,RETAINED
1,Ekant Sen,Batter,India,20.0,NaN,NaN,UNSOLD
2,Wayne Parnell,Allrounder,South Africa,75.0,NaN,NaN,UNSOLD
3,Shakib Al Hasan,Allrounder,Bangladesh,150.0,150.0,KKR,SOLD
4,Joe Root,Batter,England,100.0,100.0,RR,SOLD

In [26]:
df.isnull().sum()

name                       0
player style               0
nationality                0
base price (in lacs)     158
final price (in lacs)     71
franchise                 71
status                     0
dtype: int64

In [27]:
df.shape

(309, 7)

In [36]:
df.rename(columns={'name':'Name','player style':'Player_Style','nationality':'Nationality','base price (in lacs)':'Base_Price','final price (in lacs)':'Final_Price','franchise':'Team','status':'Status'},inplace=True)
df.head()

,Name,Player_Style,Nationality,Base_Price,Final_Price,Team,Status
0,Harshit Rana,Bowler,India,NaN,20.0,KKR,RETAINED
1,Ekant Sen,Batter,India,20.0,NaN,NaN,UNSOLD
2,Wayne Parnell,Allrounder,South Africa,75.0,NaN,NaN,UNSOLD
3,Shakib Al Hasan,Allrounder,Bangladesh,150.0,150.0,KKR,SOLD
4,Joe Root,Batter,England,100.0,100.0,RR,SOLD